# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import collections
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chip = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [5]:
chip.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
chip.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
2624,1042,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Sour Cream,...",$9.39

In [7]:
# Solution 2
chip_salad = chip[chip.item_name == "Chicken Bowl"]
len(chip_salad)

726

### Step 6. What is the number of columns in the dataset?

In [8]:
print(f"Number of columns: {len(chip.columns)}\n")

Number of columns: 5

### Step 7. Print the name of all the columns.

In [9]:
print(f"Columns\n{', '.join(chip.columns.values)}\n")

Columns
order_id, quantity, item_name, choice_description, item_price

### Step 8. How is the dataset indexed?

In [10]:
print(f"Dataset is indexed by record numbers:\n{chip.index.values}\n")

Dataset is indexed by record numbers:
[   0    1    2 ... 4619 4620 4621]

### Step 9. Which was the most-ordered item?

In [22]:
total_ordered_items = pd.DataFrame(chip.groupby('item_name')['quantity'].sum()).sort_values('quantity', ascending=False)

# Step 10. For the most-ordered item, how many items were ordered?

In [23]:
print(f"Most ordered item: {total_ordered_items.iloc[0].name} with a total of {total_ordered_items.iloc[0]['quantity']}\n")

Most ordered item: Chicken Bowl with a total of 761

### Step 11. What was the most ordered item in the choice_description column?

In [24]:
most_ord_choice = pd.pivot_table(chip, values=['quantity'], index='choice_description',
                                aggfunc='sum', fill_value="").sort_values('quantity', ascending=False)
print(f"Most ordered item in choice description: {most_ord_choice.iloc[0].name} with a total of {most_ord_choice.iloc[0]['quantity']}\n")

Most ordered item in choice description: [Diet Coke] with a total of 159

### Step 12. How many items were orderd in total?

In [27]:
total_ord_items = chip.iloc[:,1].sum()
print(f"Total of items ordered is {total_ord_items}\n\n")

Total of items ordered is 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [30]:
chip['item_price'] = chip['item_price'].apply(lambda x: float(str(x)[1:]))
print(f"Type of item_price {chip['item_price'].dtypes}\n")

Type of item_price float64

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

In [31]:
chip['item_price'] = chip['item_price'].apply(lambda x: float(str(x)[1:]))
print(f"Type of item_price {chip['item_price'].dtypes}\n")

Type of item_price float64

### Step 14. How much was the revenue for the period in the dataset?

In [32]:
chip['subtotal_item'] = chip['quantity']*chip['item_price']
print(f"Total revenue is ${chip['subtotal_item'].sum():,}\n")

Total revenue is $5,105.02

### Step 15. How many orders were made in the period?

In [33]:
print(f"Total orders in the period: {len(chip.groupby('order_id'))}\n")

Total orders in the period: 1834

### Step 16. What is the average revenue amount per order?

In [34]:
total_by_order = chip.groupby('order_id')['subtotal_item'].sum()
avg_by_order = round(total_by_order.mean(), 2)
print(f"Average amount by order is ${avg_by_order}\n")

Average amount by order is $2.78

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [35]:
print(f"Total of different items sold is {len(chip.groupby('item_name'))}")

Total of different items sold is 50